<div class="container w-50 mt-5 text-center">
  <div class="text-center display-3 m-3 text-white">
    Word Limit : {{ limit }}
  </div>

  <input
    type="range"
    class="form-range"
    (change)="handle($event)"
    min="1"
    [value]="limit"
  />

  <button class="btn btn-info" (click)="generate()">generate words</button>
  <br />
  <button class="btn btn-info" (click)="generatecountries()">
    generate random countries
  </button>
  <br />
  <button class="btn btn-info" (click)="closemodal()">
    close modal
  </button>

  <div *ngIf="checkmodal" class="card">
    <div class="card-body">
      <p class="display-5">{{ words }}</p>
    </div>
  </div>
</div>
